web/src/raw_files/*
*__pycache__*
.idea/
venv/
web/src/.coverage
dev.env
gitlub-runner-pubkey.txt
prod.env
celerybeat.pid
celerybeat-schedule
local.env
tmp_*
frontend/node_modules
frontend/stock/node_modules/
backend/static/
.DS_Store
.vscode/launch.json
.vscode/settings.json
.vscode/
frontend/stock/src/views/Home.vue
frontend/stock/src/views/About.vue
frontend/stock/src/components/BootstrapToast.vue
ghostdriver.log
