django==3.2.3
psycopg2-binary
dj-database-url==0.5.0
gunicorn==19.9.0
djangorestframework==3.12.4
flake8
requests
bs4
lxml
django-cors-headers
selenium==3.141.0
celery==4.4.1
django-redis==5.2.0
django-celery-beat==2.1.0
django_celery_results==2.0.0
django-json-widget==1.1.1
pytest-django